@import "tailwindcss";
@import "@bklearn/shadcn/globals.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  height: 100vh;
}

#root {
  height: 100vh;
}
